<div class="container" id="about">
    <h1>About This Page</h1>
    <br>
    <h4>A simple website that allows you to post and comment!</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>No Ads, No scam, No any fees!</h2>
    <br>
    <h3>If you find any bugs, please email <u style="color: brown;">tomlam0828@gmail.com</u> to report this issue!</h3>
    <br>
    <br>
    <h4>Thank you for supporting and using this application</h4>
</div>