<div class="container" id="success">
    <h1>Success!</h1>
    <h2>Payment received!</h2>
    <h1>Thank you for your payment</h1>
    <h3>You can create a post now...</h3>
    <br>
    <a href="/display"><button class="btn btn-success" type="button">Create A Post!</button></a>
</div>