#homepage {
    text-align: center;
}

.btn-facebook {
    background-color: #4aa1f3;
    border: 0%;
    color: #fff;
    width: auto;
}

.btn-facebook:link,
.btn-facebook:visited {
    text-decoration: none;
    background-color: #4aa1f3;
    color: #fff;
}

.btn-gplus {
    background-color: #e44b34;
    color: #fff;
    border: 0%;
    width: auto;
}

.btn-gplus:link,
.btn-gplus:visited {
    background-color: #e44b43;
    color: #fff;
    text-decoration: none;
}

.btn-instagram {
    background-color: rgb(195, 42, 143);
    border: 0%;
    width: auto;
    color: #fff;
}

.btn-instagram:link,
.btn-instagram:visited {
    background-color: rgb(195, 42, 143);
    color: #fff;
    text-decoration: none;
}

#welcome {
    color: yellow;
}

h1 {
    text-align: center;
}

#main {
    margin-top: 60px;
    margin-bottom: 50px;
}

.col-sm-4 {
    margin-bottom: 10px;
}

#address {
    color: red;
}

.post-user-pic {
    width: 100px;
    height: auto;
}

.red {
    color: red;
}